.thumbs {
  display: flex;
  
  &--hero {
    height: 80px;

    .thumbs__up, .thumbs__down {
      @include font-size(28);
      cursor: pointer;
      transition: $transition;

      &:hover {
        opacity: .9;
      }
      @include from (desktop) {
        @include font-size(40);
      }
    }
  }

  &--box {
    height: 50px;

    .thumbs__up, .thumbs__down {
      @include font-size(22);
      @include from (desktop) {
        @include font-size(26);
      }
    }
    .thumbs__up {
      justify-content: flex-start ;
      padding-left: 10px;
    }
    .thumbs__down {
      justify-content: flex-end ;
      padding-right: 10px;
    }
  }

  &__up, &__down {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__up {
    width: 50%;
    background: rgba($shamrock,0.8);
    
  }
  &__down {
    width: 50%;
    background: rgba($yellow,0.8);
  }

  &__percent {
    margin: 0 5px;
  }
}

.thumbs-box {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }

  

  &--up {
    background: $shamrock;
    transition: $transition;
    
    &:hover {
      background: rgba($shamrock, 0.8);
    }

  }
  &--down {
    background: $yellow;
    transition: $transition;
    &:hover{
      background: rgba($yellow, 0.8);
    }
  }
}

.fa-thumbs-down {
  transform: scaleX(-1);
}