<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=1">
	<title>Zemoga-test</title>
	<link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">

	<!-- < Styles > -->
	<link rel="stylesheet" href="./assets/css/stylesheet.min.css">
	<!-- </ Styles > -->

	<script src="https://kit.fontawesome.com/b362a236d6.js" crossorigin="anonymous"></script>

</head>
<body>
	<% content %>

	<!-- < Scripts > -->
	<script src="./assets/js/app.min.js"></script>
	<!-- </ Scripts > -->
</body>
</html>