
<div class="footer-section ph20 text-darkgray">
  <div class="footer-section__container container">
    <div class="footer-section__terms">
      <a href="#" class="paragraph--footer text-darkgray">
        Terms Conditions
      </p>
      <a href="#" class="paragraph--footer text-darkgray">
        Privacy Policy
      </p>
      <a href="#" class="paragraph--footer text-darkgray">
        Contact Us
      </p>
    </div>
    <div class="footer-section__media text-darkgray">
      <p class="paragraph--footer">
        Follow&nbsp;Us
      </p>
      <div class="footer-section__media__container">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
  </div>
</div>