<header class="navbar ph20">
  <div class="navbar__container container">
    <a href="index.html" class="navbar__brand text-white">
      Rule&nbsp;of&nbsp;Thumb.
    </a>
    <i id="menu-icon" class="navbar__iconMenu text-white fas fa-bars"></i>
    
    <nav class="navbar__navigation">
      <ul class="navigation" id="navigation">
        <i id="close-icon" class="menu-active__close text-white fas fa-times"></i>
        <li><a class="text-white" href="past-trials.html">Past Trials</a></li>
        <li><a class="text-white" href="how-it-works.html">How It Works</a></li>
        <li><a class="text-white" href="log-in.html">Log In / Sign Up</a></li>
        <li class="icon-search text-white"><a href="#"></a></li>
      </ul>
    </nav>
  </div>
</header>