$base-font-size: 16px;

//font size rem

@mixin font-size($size) {
  @if unitless($size) {
      $size: $size * 1px;
  }
  font-size: $size;
  font-size: ($size / $base-font-size) * 1rem;
}

// breakpoints

@mixin from($media) {
  $min-width-bp: (map-get($bps, $media) or $media);
  @media only screen and (min-width: $min-width-bp) {
  @content;
  }
}