.text-white {
  color: $white;
}
.text-darkgray {
  color: $darkgray;
}

// Headline styles
.headline {
  &--6 {
    @include font-size(40);
    font-weight: 500;
  }

  &--5 {
    @include font-size(24);
  }

  &--4 {
    @include font-size(26);
    font-weight: 800;

    @include from (desktop){
      @include font-size(26);
    }
  }
  
  &--3 {
    @include font-size(21);
    font-weight: 600;
  }

  &--2 {
    @include font-size(30);
    font-weight: 300;
    margin-bottom: 30px;
  }
  
  &--1 {
    @include font-size(50);
    line-height: 50px;
    margin-bottom: 30px;
  }
}

// Paragraph styles
.paragraph {
  &--1 {
    @include font-size(16);
    font-weight: 300;
  }
  &--2 {
    @include font-size(20);
    font-weight: 300;
    margin-bottom: 20px;
  }
  &--3 {
    @include font-size(14);
    @include from (desktop) {
      @include font-size(16);
    }
  }
  &--4 {
    @include font-size(12);
    @include from (desktop) {
      @include font-size(14);
    }
  }
  &--5 {
    @include font-size(14);
    font-weight: 300;
    @include from (desktop) {
      @include font-size(16);
    }
  }
  &--6 {
    @include font-size(20);
    font-weight: 300;
    @include from (desktop) {
      @include font-size(22);
    }
  }
}
.more-info {
  margin-bottom: 40px;
}