.ph20 {
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  max-width: 1025px;
  margin: 0 auto;
}

.underline {
  border-bottom: 1px solid $white;
}

.bold {
  font-weight: bold;
}

.deactive {
  display: none !important;
}

.selected {
  border: 1px solid $white;
}