<% extend '../layout/app' %>

<%- include('../layout/navbar') %>
<%- include('../components/hero') %>
<%- include('../components/popup') %>
<h2 class="container headline--2 ph20">
  How It Works
</h2>
<p class="paragraph--1 container ph20">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, quaerat debitis amet tenetur consectetur at perferendis recusandae assumenda temporibus delectus perspiciatis, maxime blanditiis, expedita eveniet iste fuga obcaecati ratione distinctio.
  Beatae illum voluptatibus tempore distinctio sequi accusamus nulla. Dolorum quisquam quis commodi consequatur delectus cupiditate, quos quidem amet ratione laboriosam adipisci hic, quam animi explicabo dolore labore placeat pariatur recusandae!
  Necessitatibus natus culpa id reiciendis aliquid sit minus nisi saepe error sequi nam quas enim dolorem iure, magni in ea est quasi ab et earum beatae! Provident qui eum quidem.
  Non aut iste vitae quae quia. Enim, omnis. Quis quasi fugiat veritatis adipisci, eligendi quidem officia vel temporibus aliquid explicabo dolore reiciendis minima suscipit aspernatur, repellat facere impedit ex saepe.
  Nemo, possimus soluta? Facere eos eaque esse minus ipsam vero adipisci quae laboriosam quis quibusdam. Laborum nobis harum, id molestias iusto perspiciatis, consectetur maiores aperiam cupiditate facere recusandae eligendi? Odio.
  Magni aliquid nesciunt laboriosam facere tenetur harum debitis? Asperiores veniam in dolorum reprehenderit, pariatur voluptas eos, est nemo incidunt nisi quo nobis adipisci natus fugiat impedit officia, eum eveniet at?
  Sit impedit vitae, nostrum quod ducimus doloribus cupiditate sunt cumque accusantium officia a distinctio aliquam iure ab. Sed impedit accusantium earum deleniti, minus vero molestiae nobis voluptates iusto! Nulla, tempora?
  Sequi incidunt voluptate sed esse hic eum est molestias laudantium ullam, expedita et reiciendis amet minima debitis, enim dolore dicta tenetur. Voluptatibus, culpa at rerum vero cumque repudiandae unde aperiam?
  Quae reprehenderit quasi sunt soluta quia error doloribus atque eligendi eveniet fuga consequatur porro, corporis voluptate exercitationem, amet natus, repellendus voluptatem tempore libero qui quibusdam iusto? Voluptas a quasi expedita.
  Voluptas sunt fugit quod accusantium voluptates unde deleniti! Reiciendis sequi dolorum dolorem maxime culpa consectetur itaque eius veritatis doloremque, doloribus consequatur, quibusdam voluptate eum. Ipsam veniam culpa debitis amet eveniet!
</p>
<%- include('../layout/footer') %>