<% extend '../layout/app' %>

<%- include('../layout/navbar') %>
<%- include('../components/hero') %>
<%- include('../components/popup') %>
<h2 class="container headline--2 ph20">
  Log In / Sign Up
</h2>
<p class="paragraph--1 container ph20">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, quaerat debitis amet tenetur consectetur at perferendis recusandae assumenda temporibus delectus perspiciatis, maxime blanditiis, expedita eveniet iste fuga obcaecati ratione distinctio.
  Beatae illum voluptatibus tempore distinctio sequi accusamus nulla. Dolorum quisquam quis commodi consequatur delectus cupiditate, quos quidem amet ratione laboriosam adipisci hic, quam animi explicabo dolore labore placeat pariatur recusandae!
  Necessitatibus natus culpa id reiciendis aliquid sit minus nisi saepe error sequi nam quas enim dolorem iure, magni in ea est quasi ab et earum beatae! Provident qui eum quidem.
</p>
<%- include('../layout/footer') %>