<section class="grid-home ph20">
  <div class="grid-home__container container">
    <h2 class="grid-home__title headline--2">
      Previous Rulings
    </h2>
    <main class="grid text-white" id="grid">
      
    </main>
  </div>
</section>