<section class="grid-home ph20">
  <div class="grid-home__container container">
    <h2 class="grid-home__title headline--2">
      Previous Rulings
    </h2>
    <main class="grid text-white">
    
      <div class="grid__box">
        <div class="grid__box__title">
          <div class="thumbs-box thumbs-box--up">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <h6 class="headline--6">
            Kanye West
          </h6>
        </div>
        <p class="grid__box__category paragraph--4">
          <span class="bold">1 month ago</span> in Entertainment
        </p>
        <p class="grid__box__description paragraph--5">
          Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.
        </p>
        <div class="grid__box__vote">
          <div class="grid__box__vote__thumbs">
            <div class="thumbs-box thumbs-box--up">
              <i class="fas fa-thumbs-up"></i>
            </div>
            <div class="thumbs-box thumbs-box--down">
              <i class="fas fa-thumbs-down"></i>
            </div>
          </div>
          <div class="btn btn--primary">
            Vote now
          </div>
        </div>
        <div class="grid__box__footer hero__box__bottom text-white">
          <div class="thumbs thumbs--box">
            <div class="thumbs__up">
              <i class="fas fa-thumbs-up"></i>
              <div class="thumbs__percent">
                <span class="bold headerline--4">36</span>%
              </div>
            </div>
            <div class="thumbs__down">
              <div class="thumbs__percent">
                <span class="bold headerline--4">64</span>%
              </div>
              <i class="fas fa-thumbs-down"></i>
            </div>
          </div>
        </div>
        <div class="grid__box__image">
          <img src="./assets/img/kanye.jpg" alt="Kanye West">
          <div class="grid__box__image__gradient"></div>
        </div>
      </div>

      <div class="grid__box">
        <div class="grid__box__title">
          <div class="thumbs-box thumbs-box--up">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <h6 class="headline--6">
            Kanye West
          </h6>
        </div>
        <p class="grid__box__category paragraph--4">
          <span class="bold">1 month ago</span> in Entertainment
        </p>
        <p class="grid__box__description paragraph--5">
          Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.
        </p>
        <div class="grid__box__vote">
          <div class="grid__box__vote__thumbs">
            <div class="thumbs-box thumbs-box--up">
              <i class="fas fa-thumbs-up"></i>
            </div>
            <div class="thumbs-box thumbs-box--down">
              <i class="fas fa-thumbs-down"></i>
            </div>
          </div>
          <div class="btn btn--primary">
            Vote now
          </div>
        </div>
        <div class="grid__box__footer hero__box__bottom text-white">
          <div class="thumbs thumbs--box">
            <div class="thumbs__up">
              <i class="fas fa-thumbs-up"></i>
              <div class="thumbs__percent">
                <span class="bold headerline--4">36</span>%
              </div>
            </div>
            <div class="thumbs__down">
              <div class="thumbs__percent">
                <span class="bold headerline--4">64</span>%
              </div>
              <i class="fas fa-thumbs-down"></i>
            </div>
          </div>
        </div>
        <div class="grid__box__image">
          <img src="./assets/img/kanye.jpg" alt="Kanye West">
          <div class="grid__box__image__gradient"></div>
        </div>
      </div>

      <div class="grid__box">
        <div class="grid__box__title">
          <div class="thumbs-box thumbs-box--up">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <h6 class="headline--6">
            Kanye West
          </h6>
        </div>
        <p class="grid__box__category paragraph--4">
          <span class="bold">1 month ago</span> in Entertainment
        </p>
        <p class="grid__box__description paragraph--5">
          Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.
        </p>
        <div class="grid__box__vote">
          <div class="grid__box__vote__thumbs">
            <div class="thumbs-box thumbs-box--up">
              <i class="fas fa-thumbs-up"></i>
            </div>
            <div class="thumbs-box thumbs-box--down">
              <i class="fas fa-thumbs-down"></i>
            </div>
          </div>
          <div class="btn btn--primary">
            Vote now
          </div>
        </div>
        <div class="grid__box__footer hero__box__bottom text-white">
          <div class="thumbs thumbs--box">
            <div class="thumbs__up">
              <i class="fas fa-thumbs-up"></i>
              <div class="thumbs__percent">
                <span class="bold headerline--4">36</span>%
              </div>
            </div>
            <div class="thumbs__down">
              <div class="thumbs__percent">
                <span class="bold headerline--4">64</span>%
              </div>
              <i class="fas fa-thumbs-down"></i>
            </div>
          </div>
        </div>
        <div class="grid__box__image">
          <img src="./assets/img/kanye.jpg" alt="Kanye West">
          <div class="grid__box__image__gradient"></div>
        </div>
      </div>

      <div class="grid__box">
        <div class="grid__box__title">
          <div class="thumbs-box thumbs-box--up">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <h6 class="headline--6">
            Kanye West
          </h6>
        </div>
        <p class="grid__box__category paragraph--4">
          <span class="bold">1 month ago</span> in Entertainment
        </p>
        <p class="grid__box__description paragraph--5">
          Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.
        </p>
        <div class="grid__box__vote">
          <div class="grid__box__vote__thumbs">
            <div class="thumbs-box thumbs-box--up">
              <i class="fas fa-thumbs-up"></i>
            </div>
            <div class="thumbs-box thumbs-box--down">
              <i class="fas fa-thumbs-down"></i>
            </div>
          </div>
          <div class="btn btn--primary">
            Vote now
          </div>
        </div>
        <div class="grid__box__footer hero__box__bottom text-white">
          <div class="thumbs thumbs--box">
            <div class="thumbs__up">
              <i class="fas fa-thumbs-up"></i>
              <div class="thumbs__percent">
                <span class="bold headerline--4">36</span>%
              </div>
            </div>
            <div class="thumbs__down">
              <div class="thumbs__percent">
                <span class="bold headerline--4">64</span>%
              </div>
              <i class="fas fa-thumbs-down"></i>
            </div>
          </div>
        </div>
        <div class="grid__box__image">
          <img src="./assets/img/kanye.jpg" alt="Kanye West">
          <div class="grid__box__image__gradient"></div>
        </div>
      </div>

    </main>
  </div>
</section>