<div class="popup" id="popup">
  <div class="popup__container container">
    <div class="popup__title">
      <p class="paragraph--1">
        Speak out. Be heard.
      </p>
      <h4 class="headline--4">
        Be counted
      </h4>
    </div>
    <div class="popup__content paragraph--1">
      Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.
    </div>
    <div class="icon-close popup__close" id="popup-close"></div>
  </div>
  
</div>